{% extends 'base2.html' %}
{% load static %}
{% block content %}


<!--<h2>Body Content</h2>
<p>Here is your basic page. Above you have Navigation bar, Jumbotron in the Header which contains
'Hello, world!',<br> and additional space for marketing.</p>
    -->
    <main role="main" class="inner cover">
    <!--
    <h1 class="cover-heading">Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>-->
        <hr>
    <img src="{% static 'ONINWERX.png' %}" style="max-width: 100%; height: auto;">
    {% if user.is_staff %}
        <p><a href="/supply">supply</a></p>
    {% endif %}
  </main>
<hr>
{% endblock %}
